@import '../styles/variables';
@import '../styles/mixins';

.eventList {
  .infiniteScroll {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0 20px 20px 20px;

    @include for-size(phone-only) {
      padding: 0;
    }
  }
}
