@import '../styles/variables';

.eventList {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  overflow: hidden;
  flex-wrap: 1;

  .infiniteScroll {
    width: 100%;
    display: flex;
    padding: 20px;
  }
}
