@import '../styles/variables';

.navigation {
  width: 100%;
  display: flex;
  margin: 15px 0;

  button {
    background: none;
    border: none;
    padding: 10px;
    font-size: 1.25rem;
    font-family: 'SanomatSansBold';
    cursor: pointer;
    border-bottom: 4px solid transparent;

    transition-duration: 300ms;
  }
  > * {
    text-align: center;
    flex: 1;

    &.active {
      border-bottom: 4px solid $primary;
      color: $primary;
    }

    &:not(.active) {
      color: lightgray;
    }
  }
}
