@import '../styles/variables';

.footer {
  background-color: white;
  border-top: 1px dashed rgba(0, 0, 0, 0.6);
  height: 4rem;
  padding: 20px 10%;
  color: $primary;
  font-weight: 200;
  text-align: center;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;

  a {
    color: $primary;
    margin-left: 5px;
    font-family: 'SanomatSansBold';
  }
}
