@import '../styles/mixins';
@import '../styles/variables';

.sectionTitle {
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include for-size(tablet-landscape-up) {
    flex-direction: row;
  }

  .title {
    padding-left: 5px;
    font-family: 'SanomatSansBold';
    color: #000;
    font-size: 2rem;
  }

  .desc {
    font-weight: 400;
    font-family: 'SanomatSansLight';
    padding-left: 10px;
    display: none;
    font-size: 1.2rem;

    @include for-size(tablet-landscape-up) {
      display: block;
    }

    &:before {
      content: '·';
      display: inline;
      margin: 0 5px;
    }
  }
}
